@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-color: var(--pine);
}

/*
  Media Queries
  _____________
*/

/* Mobile Small */

@media (max-width: 320px) {
  .App {
    height: 150vh;
  }
}

/* Mobile Medium */

@media (min-width: 321px) and (max-width: 375px) {
  .App {
    height: 150vh;
  }
}

/* Mobile Large */

@media (min-width: 376px) and (max-width: 425px) {
  .App {
    height: 150vh;
  }
}
