@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 100vh;
  margin: auto;
  background-color: var(--pine);
}

/*
  Media Queries
  _____________
*/

@media (max-width: 320px) {
  .App {
    height: 100vh;
  }
}
