@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --ash: rgb(32, 34, 39);
  --deepforest: rgba(39, 51, 51, 0.822);
  --asphalt: rgb(51, 73, 95);
  --graphite: rgb(59, 72, 85);
  --pine: rgb(114, 145, 146);
  --zest: rgb(160, 214, 12);
  --lightzest: rgb(202, 240, 36);
}

html {
  background-color: floralwhite;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
  /* height: 100%; */
  box-shadow: 0px 0px 5px 3px var(--asphalt);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: larger;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kaushan Script", cursive;
  color: var(--ash);
}

p {
  color: var(--ash);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

ul {
  padding: 0;
}
