.Article {
  width: 90%;
  height: 100%;
  border: 1px solid var(--graphite);
  border-radius: 3px 3px 3px 3px;
  background-color: azure;
  box-shadow: 1px 1px 5px 3px var(--asphalt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.Article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90%;
}

.Article__favourite {
  width: 2rem;
  position: relative;
  top: -13rem;
  left: 85%;
  font-size: xx-large;
  /* margin-left: 5rem; */
  transition: 180ms;
}

.Article__favourite:hover {
  cursor: pointer;
  background-color: var(--deepforest);
}

.Article__button {
  margin-top: 0%;
  width: 15%;
  height: 2.5rem;
  background-color: var(--graphite);
  color: var(--lightzest);
  border-style: none;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 1px var(--graphite);
  transition: 180ms;
}

.Article__date {
  font-size: small;
  font-style: italic;
}

.Article__button:hover {
  cursor: pointer;
  background-color: var(--pine);
  color: azure;
  transform: translateY(-3px);
}

/*
  Media Queries
  _____________
*/

@media (max-width: 320px) {
  .Article {
  }

  .Article__content {

  }

  .Article__title {
    font-size: large;
  }

  .Article__blurb {
    font-size: small;
    width: 80%;
  }

  .Article__date {
    font-size: smaller;
  }

  .Article__button {
    font-size: small;
    width: 35%;
  }

  .Article__favourite {
    font-size: x-large;
    position: relative;
    top: -15.2rem;
    left: 80%;
  }
}
