.Article {
    width: 90%;
    height: 23%;
    border-radius: 3px 3px 3px 3px;
    background-color: azure;
    box-shadow: 1px 1px 5px 3px var(--asphalt);
}

.Sub__title {
    text-decoration: underline;
}

.Article__button {
    margin-top: 1%;
    width: 15%;
    height: 18%;
    background-color: var(--graphite);
    color: var(--lightzest);
    border-style: none;
    border-radius: 2px;
    box-shadow: 1px 1px 3px 1px var(--graphite);
    transition: 180ms;
}

.Article__date {
    font-size: small;
    font-style: italic;
}

.Article__button:hover {
    cursor: pointer;
    background-color: var(--pine);
    color: azure;
    transform: translateY(-3px);
}