.Footer {
  width: 100%;
  height: 35%;
  background-color: var(--asphalt);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px 1px var(--ash);
  border-radius: 3px;
}

.Footer__title {
  margin-top: 5%;
  color: var(--lightzest);
  background-color: var(--deepforest);
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 3px 2px var(--ash);
  border: 2px solid var(--zest);
  border-radius: 3px;
  font-size: x-large;
}
