.Header {
  background-color: none;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 175%;
}

.Header__title {
  color: var(--lightzest);
  background-color: var(--deepforest);
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 3px 2px var(--graphite);
  border: 5px solid var(--zest);
  border-radius: 3px;
}

.Navigation__link {
  color: var(--deepforest);
  transition: 175ms;
}

.Navigation__link:hover {
  color: var(--lightzest);
}

.Navigation__link--active {
  color: var(--lightzest);
}
